@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-charcoal: #404040;
  --color-ocean-blue: #1A69AD;
}

/* * {
  outline: 1px solid red;
} */